# ------ a specific commit ------
astroquery @ git+https://github.com/eso/astroquery.git@f6635a8720e5a0f53b4c6fae7b5b936708ff4dd3

# ------ a specific branch ------
# astroquery @ git+https://github.com/eso/astroquery.git@main

# ------ official astroquery (pre-)release ------
# astroquery==0.4.12.dev10885

astropy
numpy
matplotlib
pandas
scipy
requests
Pillow
ipywidgets
ipyaladin
pyvo
tqdm
PyAstronomy
astral
spherical-geometry
healpy
ligo.skymap
python-dotenv
